body {
    background-color: #000;
}

#map {
    display: grid;
    grid-template-columns: repeat(36, 50px);
    grid-template-rows: repeat(17, 50px);
    gap: 2px;
    align-items: center;
    justify-content: center;
}

.cell {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}